<div class="login-page">
    <div class="content">
        <form (ngSubmit)="onLogin()"  class="login-form" fxFlex #elementForm="ngForm">
            <div class="text-center">
                <h2 class="app-name">RLC Combinator</h2>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput [(ngModel)]="username" placeholder="Username" name="username" required>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput [(ngModel)]="password" type="password" placeholder="Password" name="password" required>
                    </mat-form-field>
                </div>
            </div>
<!--            <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">-->
<!--                <div fxFlex>-->
<!--                    <mat-checkbox color="primary">Remember Me</mat-checkbox>-->
<!--                </div>-->
<!--                <div fxFlex  fxLayoutAlign="end">-->
<!--                    <a href="javascript:void(0)">Forget Password</a>-->
<!--                </div>-->
<!--            </div>-->
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button  type="submit" mat-raised-button color="primary" class="w-100"
                             [disabled]="!elementForm.form.valid">Login</button>
                </div>
            </div>

        </form>
    </div>
</div>
