<!--<mat-card>-->
<!--  <mat-card-header>-->
<!--    <mat-card-title>Combinator</mat-card-title>-->
<!--  </mat-card-header>-->
<!--  <form (ngSubmit)="onSubmit()" #elementForm="ngForm">-->
<!--    <mat-form-field>-->
<!--      <mat-label>Circuit type</mat-label>-->
<!--      <mat-select>-->
<!--                <mat-option *ngFor="let elt of baseElement.keys()" [value]="elt">-->
<!--          {{elt}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field>-->
<!--      <input matInput [(ngModel)]="combModel.type" name="type" placeholder="Requested value" type="number" required>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field>-->
<!--      <input matInput [(ngModel)]="combModel.requestedValue" name="requestedValue" placeholder="Allowed error percentage" type="number" required>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field>-->
<!--      <input matInput [(ngModel)]="combModel.numGeneratedItems" name="numGeneratedItems" placeholder="Number of generate combinations" type="number" required>-->
<!--    </mat-form-field>-->

<!--    <br>-->
<!--    <button mat-raised-button color="primary" type="submit" [disabled]="!elementForm.form.valid">Generate combinations</button>-->
<!--  </form>-->
<!--</mat-card>-->
