<div id="sidebar">
  <mat-nav-list>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/combinator']">
      <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Combinator' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/resistors']">
      <mat-icon class="sidenav-icon">crop_16_9</mat-icon> {{ 'Resistors' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/capacitors']">
      <mat-icon class="sidenav-icon">merge_type</mat-icon> {{ 'Capacitors' | translate }}
    </a>
  </mat-nav-list>
</div>
