<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <form (ngSubmit)="onSubmit()" #elementForm="ngForm">
    <mat-form-field>
      <input matInput [(ngModel)]="element.type" name="type" placeholder="Type" type="text" required>
    </mat-form-field>
    <!--<div *ngIf="type.errors.required">-->
      <!--Type is required.-->
    <!--</div>-->
    <mat-form-field>
      <input matInput [(ngModel)]="element.value" name="value" placeholder="Value" type="number" required>
      <span matSuffix *ngIf="ohm"><img src="assets/images/ohm.png" style="width:15px;height:15px;"></span>
      <span matSuffix *ngIf="!ohm">{{unit}}</span>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="element.description" name="description" placeholder="Description" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="element.numItems" name="numItems" placeholder="Number of items" type="number" required>
    </mat-form-field>
    <mat-form-field *ngIf="data.type == capacitorType">
      <input matInput [(ngModel)]="element.capacitorType" name="capacitorType" placeholder="Capacitor type" type="text">
    </mat-form-field>
    <mat-form-field *ngIf="data.type == resistorType">
      <input matInput [(ngModel)]="element.volume" name="volume" placeholder="Volume" type="number">
    </mat-form-field>

    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="!elementForm.form.valid" class="rlc-button-edit">
      <mat-icon aria-label="Example icon-button with a heart icon">check</mat-icon>
      Save
    </button>
    <button mat-raised-button type="reset" (click)="cancel()" class="rlc-button-edit">
      <mat-icon aria-label="Example icon-button with a heart icon">cancel</mat-icon>
      Cancel
    </button>
  </form>
</mat-card>
