<div *ngIf="dataLoaded">

  <mat-table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" matSortActive="type" matSortDirection="asc">
    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef  [ngClass]="'rlcColumnClass'" mat-sort-header> Type</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="type"> {{element.type}} </mat-cell>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Value ({{unit}}) </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="value"> {{element.value}} </mat-cell>
    </ng-container>

    <!-- Desc Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="description"> {{element.description}} </mat-cell>
    </ng-container>

    <!-- Num of items Column -->
    <ng-container matColumnDef="numItems">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Number of items </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="numItems"> {{element.numItems}} </mat-cell>
    </ng-container>

    <!-- Capacitory type -->
    <ng-container matColumnDef="capacitorType">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Capacitor type </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="capacitorType"> {{element.capacitorType}} </mat-cell>
    </ng-container>

    <!-- Volume -->
    <ng-container matColumnDef="volume">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Volume </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="volume"> {{element.volume}} </mat-cell>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button (click)="openEditSaveDialog(addAction, null)" >
          <mat-icon aria-label="Add">add_circle</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="actions">
        <span class="rlcButtons">
          <button mat-icon-button  (click)="openEditSaveDialog(editAction, element)" >
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="openDeleteDialog(element)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </span>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- Disclaimer column -->
    <ng-container matColumnDef="disclaimer">
      <mat-footer-cell *matFooterCellDef colspan="2">
        <span *ngIf="!dataSource.data.length"><i>No data</i></span>
      </mat-footer-cell>
    </ng-container>

    <mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></mat-footer-row>

  </mat-table>
</div>




<!--<div class="example-container mat-elevation-z8">-->

<!--  <mat-table [dataSource]="dataSource2" matSort>-->

<!--    &lt;!&ndash; ID Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="id">-->
<!--      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let row" data-label="id"> {{row.cnt}} </mat-cell>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Progress Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="progress">-->
<!--      <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let row" data-label="progress"> {{row.progress}}% </mat-cell>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Name Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="name">-->
<!--      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let row" data-label="name"> {{row.name}} </mat-cell>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Color Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="color">-->
<!--      <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>-->
<!--      <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> {{row.color}} </mat-cell>-->
<!--    </ng-container>-->

<!--    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--    <mat-row *matRowDef="let row; columns: displayedColumns;">-->
<!--    </mat-row>-->
<!--  </mat-table>-->


<!--</div>-->
