//@import '../../../../node_modules/material-design-icons/iconfont/material-icons.css';

table {
//  width: 100%;
}

.mat-table {
  font-family: Roboto,"Helvetica Neue",sans-serif;

}
.mat-header-cell{
  padding-top: 5px;
}
.mat-cell{
  font-size: 15px;
}

td.mat-cell{
  padding-right: 15px;
  padding-top: 5px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 200px;
}

.rlcColumnClass{
  width: 25px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
